.register {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
    background-repeat: no-repeat;
    background-size: cover;

}

.wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 60px;
    border-radius: 10px;
    max-width: 400px;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: var(--button-text-color);
}
.form-item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-label {
    margin: 12px 0;
    font-size: 1.6rem;
    color: gray;
}

.btn-login {
    font-size: 1.6rem;
    border: none;
    padding: 10px 20px;
    background-color: var(--button-text-color);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}
  