@import 'normalize.css';

:root {
    --header-color: #003580;
    --text-color: #fff;
    --button-text-color: #0071c2;
    --icon-color: #6b6b6b;
    --border-search-color: #febb02;
    --mail-color: #00224F;
    --green-color: #008009;
    --error-color: #fe2c55;
    --setting-text-color: #006CE4;
    --setting-border-color: #E6E7E7;
    --setting-subtitle-color: #474747;
    --border-icon-image: #FFB700;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


a {
    text-decoration: none;
}