.search-item {
    border: 1px solid lightgray;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.searchItem-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.searchItem-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.title {
    font-size: 2rem;
    color: var(--button-text-color);
}

.distance {
    font-size: 1.2rem;
    color: #333;
}

.taxiOp {
    font-size: 1.2rem;
    background-color: #008009;
    color: #fff;
    width: max-content;
    padding: 4px;
    border-radius: 4px;
}

.subTitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.featured {
    font-size: 1.4rem;
    line-height: 1.6rem;
    max-height: 3.2rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333;
}

.cancelOp {
    font-size: 1.2rem;
    font-weight: bold;
    color: #008009;
}

.cancelOpSubtitle {
    font-size: 1.2rem;
    color: #008009;
}

.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}  

.ratings {
    display: flex;
    text-align: end;
    justify-content: space-between;
}

.ratings > span {
    font-weight: bold;
    font-size: 1.6rem;
    color: #333;
}

.ratings > button {
    font-size: 1.6rem;
    background-color: var(--header-color);
    color: #fff;
    border: none;
    padding: 4px;
    border-radius: 4px;

}

.detail-text {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.price {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.taxOp {
    font-size: 1.2rem;
    color: var(--icon-color);
    margin-bottom: 8px;
}

.searchView-button {
    position: relative;
}

.check-btn {
    color: #fff;
    background-color: var(--button-text-color);
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 8px 0px;
    width: 100%;
    cursor: pointer;
    &:hover {
        background-color: var(--header-color);
    }
}

.detail-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1rem;
}
